.link{
  height: inherit;
}
.resultsWrapper{
  background-image: url('../../static/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-color: #1d5226;
  display: flex;
}
.results{
  height: 90%;
   display: grid;
   margin: auto;
   grid-template-rows: 35% 65%;
   grid-template-columns: 100%; 

/*   text-shadow: 5px 5px 5px #b8dfaa; */
}
.results h1{
  font-size: 1.2em;
  margin: 10px 20px;
}
.resultsContainer{
  height: inherit;
  display: grid;
  margin: auto;
  max-width: 80%;
  text-align: left;
  color: #cdd8d6;
  background-color: #2b873a98;
  box-shadow: 0px 0px 20px 10px #aecd36;
  border-radius: 10px;
}
.finalImgContainer {
  align-self: center;
  display: flex;
  height: inherit;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.finalImg{
  height: inherit;
}
@media screen and (max-width: 769px){
}
@media screen and (max-width: 500px){
  .results h1{
    font-size: 1.3em;
  }
}
@media screen and (max-width: 321px){
  .results {
    grid-template-rows: 50% 50%;
  }
  .results h1{
    font-size: 1.1em;
    margin: 20px
  }
  .finalImg{
    height: 75%;
  }
}